@import 'https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap';
@import 'https://fonts.cdnfonts.com/css/helvetica-neue-55';
@import 'https://fonts.cdnfonts.com/css/sf-pro-display';
button {
  background-color: #B92770;
  color: #FFF;
  font-weight: 700;
  width: 174px;
  height: 60px;
  border: none;
}

button:hover {
  cursor: pointer;
}

.filter-btn {
  background-color: #FFF;
  color: #504e49;
  border: 2px solid #E9E9ED;
  height: 40px;
  width: 200px;
  font-weight: 400;
  font-size: 16px;
}

.page-change-btn {
  width: 88px;
  height: 40px;
  margin-top: 10px;
  background: #FFF;
  color: #000;
  border: 2px solid #B92770;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 11px;
  font-family: "Helvetica Neue", sans-serif;
}

.add-to-cart {
  height: 40px;
  text-align: center;
  width: 150px;
  font-family: "SF Pro Display", sans-serif;
}

.primiry {
  font-family: "Montserrat", sans-serif;
  color: #000;
  font-weight: 900;
}

.sale, #home #selected .product .sale-button,
#home #new .product .sale-button, .product .photo-sale-block .sale-button {
  position: relative;
  bottom: 95%;
  left: 10%;
  z-index: 1;
  width: 54px;
  height: 28px;
  font-weight: 700;
  font-size: 12px;
}

#header-content {
  width: 88%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 140px;
}
#header-content #name-content {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}
#header-content #name-content #social-networks,
#header-content #name-content #user-block {
  height: 50px;
  display: flex;
  align-items: center;
}
#header-content #name-content #social-networks #login,
#header-content #name-content #user-block #login {
  width: -moz-max-content;
  width: max-content;
  text-decoration: none;
  height: 28px;
}
#header-content #name-content #social-networks #login:hover,
#header-content #name-content #user-block #login:hover {
  cursor: pointer;
}
#header-content #name-content #social-networks #login svg,
#header-content #name-content #user-block #login svg {
  display: inline-block;
}
#header-content #name-content #open-cart:hover {
  cursor: pointer;
}
#header-content #name-content #quantity-in-card {
  text-align: center;
  border: 1px solid #B92770;
  border-radius: 50%;
  color: #B92770;
  font-size: 12px;
  width: -moz-max-content;
  width: max-content;
  padding: 0 3px;
  font-weight: 600;
  position: relative;
  left: 20px;
}
#header-content #logo:hover {
  cursor: pointer;
}
#header-content #header-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  margin: 30px auto;
  gap: 30px;
}
#header-content #header-menu a {
  text-decoration: none;
  color: #000;
}
#header-content #header-menu .active-menu {
  color: #B92770;
}
#header-content #header-menu #catalog {
  margin-right: 3px;
}

#popup {
  width: 380px;
  height: auto;
  position: absolute;
  top: 10%;
  left: 70%;
  background-color: #FFF;
}
#popup .popup-content {
  width: 340px;
  margin: 50px auto;
}
#popup .popup-content form {
  display: grid;
}
#popup .popup-content form input {
  width: 100%;
  border: 1px solid #B92770;
}
#popup .popup-content form .required-snow {
  color: #B92770;
}
#popup .popup-content form #wrapper-for-email {
  grid-column: 1/3;
  grid-row: 1/2;
}
#popup .popup-content form #wrapper-for-password {
  grid-column: 1/3;
  grid-row: 2/3;
}
#popup .popup-content form #wrapper-for-password #togle-password {
  position: relative;
  left: 10.5rem;
  top: -57%;
  right: -50%;
  cursor: pointer;
  color: #727174;
}
#popup .popup-content form #wrapper-for-checkbox {
  grid-column: 1/2;
  grid-row: 3/4;
}
#popup .popup-content form #wrapper-for-checkbox input {
  width: 20px;
  margin: 0;
  display: inline-block;
}
#popup .popup-content form #wrapper-for-checkbox label {
  color: #727174;
  font-size: 11px;
  font-weight: 400;
}
#popup .popup-content form .forgot-password {
  grid-column: 2/3;
  grid-row: 3/4;
  color: #B92770;
  font-size: 11px;
  font-weight: 700;
  text-decoration: none;
}
#popup .popup-content form #login-button {
  grid-column: 1/3;
  grid-row: 4/5;
  text-transform: uppercase;
  width: 100%;
  height: 40px;
}

footer {
  display: flex;
  flex-direction: column;
}
footer #section-benefits {
  display: flex;
  flex-wrap: wrap;
  padding: 40px 140px;
  background-image: url("/src/assets/img/our-benefits-bg.png");
  color: #FFF;
}
footer #section-benefits h4 {
  width: 100%;
  text-align: start;
  font-family: "SF Pro Display", sans-serif;
  font-weight: 700;
  font-size: 19px;
}
footer #section-benefits .benefits-block {
  width: 25%;
  text-align: center;
  display: flex;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-style: medium;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
}
footer #section-benefits .benefits-block img {
  width: 60px;
  height: 60px;
}
footer #section {
  display: flex;
  justify-content: space-between;
  padding: 130px 130px 0;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #000;
}
footer #section h5 {
  font-weight: 700;
  padding: 0 0 18px;
  margin: 0;
}
footer #section #footer-menu {
  display: flex;
  width: 500px;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer #section #footer-menu ul {
  padding: 0;
}
footer #section #footer-menu ul :hover {
  cursor: pointer;
}
footer #section #footer-menu ul li {
  list-style: none;
  margin: 5px 0 0;
}
footer #section #footer-menu ul li a {
  text-decoration: none;
  color: #000;
}
footer #section #footer-menu #shipping {
  margin-top: 50px;
}
footer #section #contact-footer {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer #section #contact-footer #contact-from-footer {
  cursor: pointer;
}
footer #section #contact-footer #contacts-info-footer {
  display: flex;
  flex-wrap: wrap;
}
footer #section #contact-footer #contacts-info-footer .info {
  width: 50%;
  padding: 3% 0;
  display: flex;
  align-items: center;
}
footer #section #contact-footer #contacts-info-footer .info span {
  display: inline-block;
  padding: 0 5%;
}
footer #copyright {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.3490196078);
  padding-top: 110px;
}

* {
  margin: 0;
  box-sizing: border-box;
  max-width: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  max-width: 100%;
}

#about {
  font-family: "Montserrat", sans-serif;
}
#about #info {
  background-image: url("/src/assets/img/about-bg.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 554px;
  font-family: "Montserrat", sans-serif;
  color: #FFF;
}
#about #info h2 {
  font-weight: 700;
  font-size: 50px;
}
#about #info div {
  font-size: 17px;
  font-weight: 400px;
  color: #E9E9ED;
}
#about #about-blocks {
  display: flex;
  width: 80%;
  margin: 130px auto;
}
#about #about-blocks .about-block {
  width: 20%;
  margin: 0 auto;
  height: 210px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#about #about-blocks .about-block h6 {
  font-weight: 700;
  font-size: 20px;
}
#about #about-blocks .about-block p {
  font-weight: 400;
  font-size: 17px;
  text-align: center;
}
#about #article {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  width: 80%;
  margin: 130px auto;
}
#about #article h2 {
  grid-column: 1/2;
  grid-row: 1/2;
  font-size: 40px;
  font-weight: 900;
}
#about #article p {
  grid-column: 1/2;
  grid-row: 2/3;
  color: #504e49;
  font-size: 17px;
  font-weight: 400;
  margin: 30px auto;
}
#about #article #see-all {
  grid-column: 1/2;
  grid-row: 3/4;
  width: 200px;
  height: 60px;
}
#about #article #see-all:hover {
  cursor: pointer;
}
#about #article img {
  grid-column: 2/3;
  grid-row: 1/4;
  width: auto;
  height: 352px;
}
#about #team {
  width: 80%;
  margin: 100px auto;
  text-align: center;
}
#about #team h3 {
  font-size: 50px;
  font-weight: 900;
  margin-bottom: 10px;
}
#about #team svg {
  text-align: center;
  width: 440px;
  height: 2px;
  margin: 0 auto;
}
#about #team #our-team {
  display: flex;
}
#about #team #our-team .team {
  height: 480px;
  width: 30%;
  margin: 50px auto 30px;
}
#about #team #our-team .team .name {
  font-size: 22px;
  font-weight: 700;
  margin: 25px auto;
}
#about #team #our-team .team .div {
  font-weight: 400;
  font-size: 17px;
}
#about #offer-block {
  background-image: url("/src/assets/img/offer.jpg");
  width: 80%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 400px;
  margin: 0 auto 120px;
  justify-content: space-between;
  align-items: center;
  color: #FFF;
}
#about #offer-block p {
  text-align: center;
}
#about #offer-block #offer {
  font-size: 190px;
  font-weight: 700;
}
#about #offer-block .descr {
  font-size: 20px;
  font-weight: 400;
}
#about #offer-block #left-side #offer-month {
  text-align: start;
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 30px;
}
#about #offer-block #left-side .descr {
  padding-bottom: 50px;
  text-align: start;
}
#about #offer-block #left-side #get-offer {
  width: 200px;
  font-size: 18px;
}

#cart {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#cart #card-bg {
  background: no-repeat center/100% url("/src/assets/img/cart-bg.png");
  margin: 10px 0;
  height: 200px;
}
#cart #card-bg h3 {
  color: #FFF;
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  padding-top: 50px;
}
#cart #cart {
  width: 80%;
  margin: 70px auto;
}
#cart #cart #menu {
  display: flex;
  background-color: #504e49;
  color: #FFF;
  height: 60px;
  text-transform: uppercase;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-family: "SF Pro Display", sans-serif;
  font-weight: 700;
}
#cart #cart #menu .menu {
  padding: 0 10px;
}
#cart #cart #menu #prod-image {
  width: 120px;
}
#cart #cart #menu #prod-name {
  width: 160px;
}
#cart #cart #product-in-cart .empty-cart {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  color: #504e49;
  padding-top: 20px;
}
#cart #cart #product-in-cart .prouct-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #B92770;
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 10px;
  font-family: "SF Pro Display", sans-serif;
  font-weight: 700;
  font-size: 18px;
}
#cart #cart #product-in-cart .prouct-container .product-name {
  width: 150px;
}
#cart #cart #product-in-cart .prouct-container .product-name span {
  font-size: 16px;
  font-weight: 400;
}
#cart #cart #product-in-cart .prouct-container img {
  width: 100px;
  height: 120px;
}
#cart #cart #product-in-cart .prouct-container .quantity-block {
  font-size: 20px;
}
#cart #cart #product-in-cart .prouct-container .quantity-block button {
  width: 35px;
  height: 35px;
  background-color: #FFF;
  color: #000;
  font-size: 25px;
}
#cart #cart #product-in-cart .prouct-container .quantity-block button:hover {
  cursor: pointer;
}
#cart #cart #product-in-cart .prouct-container .delete-btn {
  background-color: #FFF;
  width: 25px;
  height: 25px;
}
#cart #cart #product-in-cart .prouct-container .delete-btn svg {
  fill: none;
}
#cart #cart #product-in-cart .prouct-container .delete-btn svg:hover {
  cursor: pointer;
}
#cart #cart-buttons {
  display: grid;
  width: 80%;
  margin: 15px auto 120px;
  justify-content: space-between;
}
#cart #cart-buttons button {
  grid-row: 1/2;
  width: 220px;
  height: 60px;
  text-transform: uppercase;
}
#cart #cart-buttons #total-sum-block {
  grid-row: 1/3;
  grid-column: 7/8;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: #FFF;
  font-size: 17px;
  font-weight: 700;
  width: 570px;
  height: 360px;
  padding: 40px;
  background-color: #504e49;
}
#cart #cart-buttons #total-sum-block .total-sum-info {
  display: flex;
  justify-content: space-between;
}
#cart #cart-buttons #total-sum-block div {
  border: 1px solid #B92770;
  border-top: none;
  border-left: none;
  border-right: none;
}
#cart #cart-buttons #total-sum-block #total {
  font-size: 20px;
}

#catalog-section {
  width: 80%;
  margin: 35px auto 120px;
}
#catalog-section #showuing-pages {
  font-weight: 400;
  font-size: 16px;
  color: #504e49;
}
#catalog-section #sort-block {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 16px;
  font-weight: 400;
}
#catalog-section #sort-block .filter-button {
  background-color: #FFF;
  border: 1px solid #504e49;
  height: 40px;
  width: 200px;
  color: #504e49;
}
#catalog-section #sort-block #filters {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  margin: 10px auto;
}
#catalog-section #sort-block #filters #filters-parametr {
  display: flex;
  border: 2px solid #B92770;
  border-left: none;
  border-right: none;
}
#catalog-section #sort-block #filters #filters-parametr .filter-cart {
  width: 250px;
  margin: 0 20px;
}
#catalog-section #sort-block #filters #filters-parametr .filter-cart .filters-input {
  width: 250px;
  margin: 20px 0;
}
#catalog-section #sort-block #filters #clear-hide {
  width: 100%;
  display: flex;
  gap: 20px;
  margin-top: 30px;
  justify-content: flex-start;
}
#catalog-section #sort-block #filters #clear-hide button {
  width: 220px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
}
#catalog-section #sort-block .filter {
  position: relative;
  display: block;
  padding: 4px 12px;
  background-color: #FFF;
  color: #504e49;
  cursor: pointer;
}
#catalog-section #sort-block .filter .dropdown {
  position: absolute;
  display: none;
  list-style: none;
  background: #FFF;
  color: #504e49;
  border: 1px solid #FFF;
  margin: 0;
  padding: 5px 0;
  width: 150px;
  top: 100%;
  left: 0;
  z-index: 10;
}
#catalog-section #sort-block .filter .dropdown li {
  padding: 5px;
  cursor: pointer;
}
#catalog-section #sort-block .filter .dropdown li:hover {
  background: #eee;
}
#catalog-section #sort-block .filter:hover .dropdown {
  display: block;
}
#catalog-section #sort-block .active {
  color: #FFF;
  background-color: #B92770;
}
#catalog-section #sort-block #searching {
  height: 40px;
}
#catalog-section #sort-block #searching #searching-field #search {
  display: block;
  height: 40px;
  width: 300px;
}
#catalog-section #sort-block #searching #searching-field #search-mark {
  position: relative;
  top: -27px;
  right: -270px;
}
#catalog-section #product-list {
  margin: 0 auto;
  display: flex;
}
#catalog-section #product-list #list-section {
  display: flex;
  flex-direction: column;
}
#catalog-section #product-list #list-section #list {
  width: 910px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 15px;
  margin-bottom: 50px;
}
#catalog-section #product-list #list-section #list .product {
  flex: 1 0 30%;
}
#catalog-section #product-list #list-section #page-info {
  text-align: center;
}
#catalog-section #product-list #list-section #page-info span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}
#catalog-section #product-list #list-section #page-info .active-page {
  color: #FFF;
  background-color: #B92770;
}
#catalog-section #product-list #best-sets {
  width: 370px;
}
#catalog-section #product-list #best-sets h3 {
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 23px;
}
#catalog-section #product-list #best-sets .card {
  display: flex;
  gap: 10px;
  margin-bottom: 5px;
}
#catalog-section #product-list #best-sets .card img {
  width: 90px;
  height: 90px;
}
#catalog-section #product-list #best-sets .card p {
  font-size: 13px;
  font-weight: 400;
}
#catalog-section #product-list #best-sets .card .rating-goods {
  margin: 7px 0;
  display: flex;
}
#catalog-section #product-list #best-sets .card .rating-goods svg {
  height: 10px;
  width: 10px;
}

form input,
form textarea,
form #message {
  display: block;
  border: 2px solid #B92770;
  margin-bottom: 30px;
}
form button {
  text-transform: uppercase;
}

#contact #contact-bunner {
  margin-bottom: 130px;
  background-image: url("/src/assets/img/contact-bg.jpg");
  height: 554px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#contact #contact-bunner h2 {
  font-size: 50px;
  font-weight: 900;
  color: #FFF;
}
#contact #contact-bunner p {
  width: 288px;
  font-size: 17px;
  font-weight: 400;
  color: #E9E9ED;
}
#contact #contacts-info {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
#contact #contacts-info .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 230px;
  height: 180px;
}
#contact #contacts-info .card h6 {
  font-weight: 700;
  font-size: 20px;
}
#contact #contacts-info .card p {
  font-weight: 400;
  font-size: 16px;
}
#contact #feedback {
  width: 80%;
  margin: 130px auto 120px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
#contact #feedback img {
  width: 100%;
}
#contact #feedback form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#contact #feedback form h4 {
  font-weight: 900;
  font-size: 25px;
}
#contact #feedback form p {
  margin: 30px 0;
  font-weight: 400;
  font-size: 17px;
}
#contact #feedback form label {
  font-weight: 700;
  font-size: 20px;
}
#contact #feedback form label .dot {
  color: #B92770;
}
#contact #feedback form input,
#contact #feedback form #message {
  display: block;
  border: 2px solid #B92770;
  margin-bottom: 30px;
}
#contact #feedback form input {
  height: 44px;
}
#contact #feedback form #form-btn {
  height: 40px;
  width: 90px;
}

#product-cart {
  width: 80%;
  margin: 0 auto;
}
#product-cart #product {
  display: grid;
  gap: 10px;
  margin-bottom: 70px;
  grid-template-columns: 2fr 1fr 1fr;
}
#product-cart #product #main-img {
  grid-column: 1/2;
  grid-row: 1/8;
  width: 600px;
  height: 860px;
}
#product-cart #product #aditional-photos {
  grid-column: 1/2;
  grid-row: 8/10;
  display: flex;
  justify-content: space-between;
  gap: 3px;
  width: 600px;
}
#product-cart #product #aditional-photos img {
  width: 23%;
}
#product-cart #product h2 {
  grid-column: 2/4;
  grid-row: 1/2;
  font-size: 30px;
  font-weight: 700;
}
#product-cart #product #rating {
  grid-column: 2/4;
  grid-row: 2/3;
  display: flex;
}
#product-cart #product #rating #stars-rating {
  display: flex;
}
#product-cart #product #rating #clients-rating {
  color: #504e49;
  font-weight: 400;
  font-size: 13px;
}
#product-cart #product #price {
  grid-column: 2/4;
  grid-row: 3/4;
  color: #000;
  font-weight: 700;
  font-size: 20px;
}
#product-cart #product #description {
  grid-column: 2/4;
  grid-row: 4/5;
  color: #504e49;
  font-size: 17px;
  font-weight: 400;
  padding-bottom: 70px;
}
#product-cart #product label {
  grid-column: 2/4;
  font-weight: 700;
  font-size: 17px;
}
#product-cart #product label .error {
  color: red;
  font-size: 15px;
  font-weight: 400;
}
#product-cart #product .list {
  width: 100%;
  height: 30px;
  margin: 10px 0 5px;
  display: inline-block;
}
#product-cart #product #quantity-block {
  grid-column: 2/3;
  grid-row: 8/9;
  display: flex;
  border: 1px solid #B92770;
  width: 130px;
  height: 40px;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  font-weight: 700;
}
#product-cart #product #quantity-block button {
  color: #504e49;
  background-color: #FFF;
  height: 38px;
  width: 30px;
}
#product-cart #product #add-to-cart {
  grid-column: 3/4;
  grid-row: 8/9;
  width: 400px;
  height: 40px;
  font-family: "SF Pro Display", sans-serif;
  font-size: 17px;
  font-weight: 700;
}
#product-cart #product #payment-methods {
  grid-column: 2/4;
  grid-row: 9/10;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  color: #727174;
  font-size: 23px;
  font-weight: 700;
}
#product-cart #product-detais #product-detais-btns {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}
#product-cart #product-detais #product-detais-btns .active-button {
  border: 2px solid #B92770;
  border-top: none;
  border-left: none;
  border-right: none;
}
#product-cart #product-detais #product-detais-btns button {
  background-color: #FFF;
  width: -moz-max-content;
  width: max-content;
  color: #000;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  height: 25px;
}
#product-cart #product-detais #product-detais-btns #detais-block {
  font-size: 14px;
  font-weight: 400;
  color: #504e49;
  margin: 10px 0 100px;
}
#product-cart #reviews-block {
  display: flex;
  justify-content: space-between;
}
#product-cart #reviews-block #review-about-product {
  width: 45%;
}
#product-cart #reviews-block #review-about-product #name-of-product {
  display: block;
  font-weight: 700;
  font-size: 17;
}
#product-cart #reviews-block #review-about-product #review-block {
  display: grid;
  grid-template-columns: 0.5fr 3fr 2fr;
  align-items: center;
}
#product-cart #reviews-block #review-about-product #review-block #customer-photo {
  height: 46px;
  width: 46px;
  margin-right: 25px;
}
#product-cart #reviews-block #review-about-product #review-block #name-of-reviewer {
  font-size: 17px;
  font-weight: 700;
  color: #504e49;
}
#product-cart #reviews-block #review-about-product #review-block #name-of-reviewer span {
  font-size: 13px;
  font-weight: 400;
  color: #727174;
}
#product-cart #reviews-block #review-about-product #review-block #review-stars-rating {
  display: flex;
  justify-self: end;
}
#product-cart #reviews-block #review-about-product #review-block #text-review {
  font-weight: 400;
  font-size: 17px;
}
#product-cart #reviews-block #add-review-section {
  width: 45%;
  font-weight: 700;
}
#product-cart #reviews-block #add-review-section legend {
  margin: 30px 0;
  font-size: 17px;
}
#product-cart #reviews-block #add-review-section p {
  color: #504e49;
  font-size: 13px;
  font-weight: 400;
}
#product-cart #reviews-block #add-review-section #rate {
  margin: 30px 0;
  display: flex;
  font-size: 13px;
}
#product-cart #reviews-block #add-review-section #rate #stars {
  padding-left: 10px;
  display: flex;
}
#product-cart #reviews-block #add-review-section textarea {
  width: 100%;
}
#product-cart #reviews-block #add-review-section #name, #product-cart #reviews-block #add-review-section #email {
  width: 49%;
  display: inline-block;
  margin: 0;
}
#product-cart #reviews-block #add-review-section #agree {
  display: inline-block;
  margin: 30px 0 0;
}
#product-cart #reviews-block #add-review-section #submit-button {
  margin: 30px 0;
  width: 90px;
  height: 40px;
  font-size: 12px;
}
#product-cart #reviews-block #shipping-policy-block {
  font-size: 17px;
  font-weight: 400;
  color: #727174;
  width: 90px;
}
#product-cart #also-like h4 {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  margin: 70px 0 10px;
}
#product-cart #also-like svg {
  margin: 0 auto;
}
#product-cart #also-like #also-like-products {
  display: flex;
  justify-content: space-between;
  margin: 60px 0 120px;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  flex: 1 0 24%;
  font-weight: 700;
  font-size: 19px;
  justify-content: space-between;
}
.product .photo-sale-block {
  height: 400px;
  width: 280px;
  overflow: hidden;
}
.product .photo-sale-block img {
  height: 400px;
  width: 100%;
}
.product .price {
  color: #504e49;
  text-align: center;
}
.product #add-to-card {
  color: #FFF;
}
.product #add-to-card :hover {
  cursor: pointer;
}
.product h6 {
  width: 180px;
  text-align: center;
}

#button-block {
  display: flex;
  justify-content: space-between;
}

#home {
  margin: 0;
  overflow-x: hidden;
}
#home #section {
  display: flex;
  align-items: center;
  background-color: #E7E8E9;
  padding: 0 10%;
  height: 860px;
}
#home #section #smart-styles h2 {
  font-size: 50px;
  font-weight: 900;
}
#home #section #smart-styles p {
  padding: 30px 0;
  font-weight: 400;
  font-size: 17px;
  color: #504e49;
}
#home #section #smart-styles #view-all:hover {
  cursor: pointer;
}
#home #section img {
  width: 44vw;
  height: auto;
}
#home #discont-block {
  display: flex;
  background-color: #FFF;
  margin: -10% auto 0;
  width: 80%;
  box-shadow: 0px 20px 80px 0px rgba(193, 199, 212, 0.7019607843);
  height: 566px;
}
#home #discont-block #article {
  width: 42%;
  margin: 90px 90px 70px 76px;
}
#home #discont-block #article #author {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
#home #discont-block #article #author img {
  width: 85px;
  height: 93px;
}
#home #discont-block #article #author #author-info {
  width: 200px;
  margin-left: 5%;
}
#home #discont-block #article #author h3 {
  font-size: 40px;
}
#home #discont-block #article #author p {
  font-weight: 400;
  font-size: 17px;
  color: #504e49;
  line-height: 130%;
}
#home #discont-block #article #author #name {
  font-weight: 700;
  font-size: 20px;
}
#home #discont-block #photo-block {
  background-image: url("/src/assets/img/hp2.png");
  background-size: cover;
  color: #FFF;
  display: flex;
  width: 60%;
}
#home #discont-block #photo-block #text {
  width: 390px;
  margin: 40% auto;
}
#home #discont-block #photo-block div {
  font-size: 40px;
  font-weight: 900;
}
#home #discont-block #photo-block p {
  font-size: 17px;
  font-weight: 400;
}
#home #discont-block #photo-block button {
  width: 175px;
  height: 60px;
  font-size: 18px;
}
#home .block {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
#home .block h3 {
  font-size: 40px;
  font-weight: 900;
  text-align: center;
}
#home .block .discription {
  margin: 10px 0 50px;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
  color: #504e49;
}
#home #travel-suitcases {
  overflow-x: hidden;
}
#home #travel-suitcases h3 {
  margin: 100px 0 0;
  text-align: center;
  color: #000;
}
#home #travel-suitcases #goods-block {
  display: flex;
  justify-content: space-between;
  font-size: 19px;
  height: 620px;
  gap: 10px;
  will-change: transform;
  transform: translateZ(0);
  transition: transform 0.3s ease-in-out;
}
#home #travel-suitcases #goods-block .cases1 {
  background-image: url("/src/assets/img/hp-travel1.png");
  width: 24%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: #FFF;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.3s ease, box-shadow 0.4s ease;
}
#home #travel-suitcases #goods-block .cases1:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}
#home #travel-suitcases #goods-block .cases1 h6 {
  width: 170px;
  font-weight: 700;
  padding-bottom: 30px;
}
#home #travel-suitcases #goods-block .cases1 p {
  width: 170px;
  font-size: 17px;
  font-weight: 400;
  padding-bottom: 60px;
}
#home #travel-suitcases #goods-block .cases2 {
  background-image: url("/src/assets/img/hp-travel2.png");
  width: 24%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: #FFF;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.3s ease, box-shadow 0.4s ease;
}
#home #travel-suitcases #goods-block .cases2:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}
#home #travel-suitcases #goods-block .cases2 h6 {
  width: 170px;
  font-weight: 700;
  padding-bottom: 30px;
}
#home #travel-suitcases #goods-block .cases2 p {
  width: 170px;
  font-size: 17px;
  font-weight: 400;
  padding-bottom: 60px;
}
#home #travel-suitcases #goods-block .cases3 {
  background-image: url("/src/assets/img/hp-travel3.png");
  width: 24%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: #FFF;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.3s ease, box-shadow 0.4s ease;
}
#home #travel-suitcases #goods-block .cases3:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}
#home #travel-suitcases #goods-block .cases3 h6 {
  width: 170px;
  font-weight: 700;
  padding-bottom: 30px;
}
#home #travel-suitcases #goods-block .cases3 p {
  width: 170px;
  font-size: 17px;
  font-weight: 400;
  padding-bottom: 60px;
}
#home #travel-suitcases #goods-block .cases4 {
  background-image: url("/src/assets/img/hp-travel4.png");
  width: 24%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: #FFF;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.3s ease, box-shadow 0.4s ease;
}
#home #travel-suitcases #goods-block .cases4:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}
#home #travel-suitcases #goods-block .cases4 h6 {
  width: 170px;
  font-weight: 700;
  padding-bottom: 30px;
}
#home #travel-suitcases #goods-block .cases4 p {
  width: 170px;
  font-size: 17px;
  font-weight: 400;
  padding-bottom: 60px;
}
#home #selected,
#home #new {
  margin: 110px auto 120px;
}
#home #selected .track,
#home #new .track {
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  display: flex;
  flex-flow: row nowrap;
}
#home #selected .track::-webkit-scrollbar,
#home #new .track::-webkit-scrollbar {
  background: transparent;
}
#home #selected .product,
#home #new .product {
  justify-content: space-around;
  aspect-ratio: 1;
  scroll-snap-align: center;
  margin: 0 12px;
  width: 24%;
  height: 600px;
}
#home #selected .product .sale-button,
#home #new .product .sale-button {
  left: -30%;
}
#home #selected .carousel,
#home #new .carousel {
  position: relative;
  display: flex;
  margin: 25px auto;
}
#home #selected .arrow-button,
#home #new .arrow-button {
  position: relative;
  transform: translateY(-100%);
  background-color: white;
  border: none;
  padding: 0;
  cursor: pointer;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-min-content;
  height: min-content;
  opacity: 1;
  transition: opacity 0.1s;
}
#home #selected .arrow-button svg,
#home #new .arrow-button svg {
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 20px;
  fill: #333;
}
#home #selected .arrow-button:focus,
#home #selected .arrow-button:hover,
#home #new .arrow-button:focus,
#home #new .arrow-button:hover {
  opacity: 1;
}
#home #selected .prev,
#home #new .prev {
  z-index: 2;
  left: 0;
}
#home #selected .next,
#home #new .next {
  right: 0;
}
#home #offer-block {
  width: 80%;
  margin: 0 auto;
  height: 400px;
  display: flex;
  background-image: url("/src/assets/img/offer.jpg");
  background-size: cover;
  justify-content: space-around;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  color: #FFF;
}
#home #offer-block div {
  width: 40%;
}
#home #offer-block p {
  display: block;
}
#home #offer-block #offer {
  font-size: 220px;
  font-weight: 900;
}
#home #offer-block #left-side {
  display: flex;
  flex-direction: column;
  gap: 41px;
  width: 35%;
}
#home #offer-block #offer-month {
  font-size: 40px;
  font-weight: 900;
}
#home #offer-block .descr {
  font-size: 18px;
  font-weight: 400;
}
#home #offer-block button {
  width: 200px;
  height: 60px;
}
#home #castomers-reviw #customers {
  display: flex;
  margin: 60px auto 120px;
  text-align: center;
  gap: 20px;
}
#home #castomers-reviw #customers .customer-block {
  display: grid;
  justify-items: center;
  align-content: center;
  gap: 24px;
  height: 440px;
  margin: 40px auto;
  border: 1px solid #FFF;
  box-shadow: 0 20px 80px 0 rgba(193, 199, 212, 0.7019607843);
  font-size: 17px;
}
#home #castomers-reviw #customers .customer-block img {
  width: 98px;
  height: 98px;
}
#home #castomers-reviw #customers .customer-block .review {
  font-weight: 400;
}
#home #castomers-reviw #customers .customer-block .customer-name {
  color: #B92770;
  font-weight: 700;
}/*# sourceMappingURL=main.css.map */