@use "../abstracts/variables" as var;

button{
    background-color: var.$pink;
    color: var.$white;
    font-weight: 700;
    width: 174px;
    height: 60px;
    border: none;
}

button:hover{
    cursor: pointer;        
}

.filter-btn{
    background-color: var.$white;
    color: var.$grey;
    border: 2px solid var.$white-grey;
    height: 40px;
    width: 200px;
    font-weight: 400;
    font-size: 16px;  
    
}

.page-change-btn{
    width: 88px;
    height: 40px;
    margin-top: 10px;
    background: var.$white;
    color: var.$black;
    border: 2px solid var.$pink;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 11px;
    font-family: var.$secondary-font;
   
}

.add-to-cart{
        height: 40px;
        text-align: center;
        width: 150px;
        font-family: var.$fourth-font; 
    }

   