@use '../abstracts/variables' as var;

*{
margin: 0;
   box-sizing: border-box;
   overflow-x: hidden;
    max-width: 100%;
 
}
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
html,
body {
    height: 100%;
    font-family: var.$primary-font;
     overflow-x: hidden;
    max-width: 100%;
}
