@use '../abstracts/variables' as var;
#about{
     font-family: var.$primary-font;
    #info{
        background-image: url("/project-template-ua/src/assets/img/about-bg.jpg");
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 554px;
        font-family: var.$primary-font;
        color: var.$white;
    h2{
        font-weight: 700;
        font-size: 50px;
    }
      div{
        font-size: 17px;
        font-weight: 400px;
        color: #E9E9ED;
      }
    }
    #about-blocks{
        display: flex;
        width: 80%;
        margin: 130px auto;

    .about-block{
        width: 20%;
        margin: 0 auto;
        height: 210px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        h6{
font-weight: 700;
font-size: 20px;
        }
        p{
            font-weight: 400;
            font-size: 17px;
            text-align: center;
            }
    }
    }
    #article{
        display: flex;
            justify-content: space-between;
            align-items: center;
            
           width: 80%;
           margin: 130px auto;
           h2{
            font-size: 40px;
            font-weight: 900;

           }
           p{
            color: var.$grey;
            font-size: 17px;
            font-weight: 400;
            margin: 30px auto;
           }
           button{
            width: 200px;
            height: 60px;
           }
           img{
            width: 45%;
            height: 352px;
           }}
 #team{
    width: 80%;
    margin: 130px auto 170px auto;
    text-align: center;
    h3{
font-size: 50px;
font-weight: 900;
margin-bottom: 10px;

    }
    svg{
        text-align: center;
        width: 440px;
        height: 2px;
        margin: 0 auto;
    }
    #our-team{
        display: flex;
    .team{
        height: 480px;
        width: 30%;
        margin: 50px auto 30px auto;
        .name{
            font-size: 22px;
            font-weight: 700;
            margin: 25px auto;
        }
        .div{
            font-weight: 400;
            font-size: 17px;
        }
    }}
 }   
}