@use "../abstracts/variables" as var;
#product-cart{
    width: 80%;
    margin: 0 auto;
#product{
    display: grid;
    gap: 10px;
    margin-bottom: 70px;
    grid-template-columns: 2fr 1fr 1fr;
       #main-img{
        grid-column: 1/2;
        grid-row: 1/8;
        width: 600px;
        height: 860px;
       }
        #aditional-photos{
              grid-column: 1/2;
              grid-row: 8/10;
            display: flex;
            justify-content: space-between;
            gap: 3px;
            width: 600px;
            img{
                width: 23%;
            }
    }
       h2{
        grid-column: 2/4;
        grid-row: 1/2;
        font-size: 30px;
        font-weight: 700;
       }
       #rating{
        grid-column: 2/4;
        grid-row: 2/3;
        display: flex;
            #stars-rating{
                display: flex;
                
        }
        #clients-rating{
            color:var.$grey;
            font-weight: 400;
            font-size: 13px;
        }}
        #price{
            grid-column: 2/4;
        grid-row: 3/4;
            color: var.$black;
            font-weight: 700;
            font-size: 20px;
        }
        #description{
            grid-column: 2/4;
        grid-row: 4/5;
            color: var.$grey;
            font-size: 17px;
            font-weight: 400;
            padding-bottom: 70px;

        }
        label{
             grid-column: 2/4;
            font-weight: 700;
            font-size: 17px;
            .error{
                color: red;
                font-size: 15px;
                font-weight: 400;
            }
            
        }
       .list{
            display: block;
            width: 100%;
            height: 30px;
            margin: 10px 0 5px 0;
            display: inline-block;
        }
        #quantity-block{
            grid-column: 2/3;
        grid-row: 8/9;
            display: flex;
            border: 1px solid var.$pink;
            width: 130px;
            height: 40px;
            justify-content: space-between;
            align-items: center;
            font-size: 25px;
            font-weight: 700;
            button{
                color: var.$grey;
                background-color:var.$white;
                height: 38px;
                width: 30px;
            }
        }
        #add-to-cart{
                 grid-column: 3/4;
        grid-row:8/9;
            width: 400px;
            height: 40px;
            font-family: var.$fourth-font;
            font-size: 17px;
            font-weight: 700;
        }
        #payment-methods{
           grid-column: 2/4;
           grid-row: 9/10;
           display: flex;
            align-items: center;
            justify-content: start;
            gap: 10px;
            color: var.$light-grey;
            font-size: 23px;
            font-weight: 700;
    }
}
#product-detais{
  #product-detais-btns{
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
     .active-button{
        border: 2px solid var.$pink;
        border-top: none;
        border-left:none;
        border-right: none;
        }
    button{
        background-color: var.$white;
        width: max-content;
        color: var.$black;
        font-size: 17px;
        font-weight: 700;
        text-transform: uppercase;
        height: 25px;
       
    }
    #detais-block{
        font-size: 14px;
        font-weight: 400;
        color: var.$grey;
        margin: 10px 0 100px 0;
    }
  }  
}
#reviews-block{
    display: flex;
    justify-content: space-between;
  #review-about-product{
    width: 45%;
    #name-of-product{
        display: block;
        font-weight: 700;
        font-size: 17;
    }
    #review-block{
        display: grid;
        grid-template-columns: 0.5fr 3fr 2fr;
        align-items: center;
        #customer-photo{
            height: 46px;
            width: 46px;
            margin-right: 25px;
        }
        #name-of-reviewer{
            font-size: 17px;
            font-weight: 700;
            color: var.$grey;
            span{
              font-size: 13px;
            font-weight: 400;
            color: var.$light-grey;  
            }
          
        }
        #review-stars-rating{
                display: flex;
                justify-self: end;
            }
              #text-review{
                font-weight: 400;
                font-size: 17px;
            }
    }
  }
  #add-review-section{
    width: 45%;
    font-weight: 700;
    legend{
        margin: 30px 0;
        font-size: 17px;
    }
    p{
        color: var.$grey;
        font-size: 13px;
        font-weight: 400;
    }
    #rate{
        margin: 30px 0;
        display: flex;
        font-size: 13px;
        #stars{
        padding-left: 10px;    
        display: flex;
        }
    }
    textarea{
        width: 100%;
    }
    #name, #email{
        width:49%;
        display: inline-block;
        margin: 0;
    }
    #agree{
         display: inline-block;
         margin:30px 0 0 0;
         
    }
    span{
        color: var.$light-grey;
        font-size: 13px;
         font-weight: 400;
    }
    #submit-button{
        margin: 30px 0;
        width: 90px;
        height: 40px;
        font-size: 12px;
    }
}
#shipping-policy-block{
    font-size: 17px;
    font-weight: 400;
    color: var.$light-grey;
    width: 90px;
}
}
  
#also-like{
    h4{
        text-align: center;
        font-size: 30px;
        font-weight: 700;
        margin: 70px 0 10px 0;
    }
      svg{
               margin: 0 auto;
        }
    #also-like-products{
        display: flex;
        justify-content: space-between;
         margin: 60px 0 120px 0;
       
    }
}
}