@use '../base/fonts';

$primary-font: 'Montserrat', sans-serif;
$secondary-font: "Helvetica Neue", sans-serif;
$third-font: "Inter",
sans-serif;
$fourth-font: 'SF Pro Display', sans-serif;
$pink:#B92770;
$white: #FFFFFF;
$black: #000000;
$grey: #504E4A;
$box-shadow: 0px 20px 80px 0px #C1C7D4B3;