@use '../abstracts/variables' as var;

#about{
     font-family: var.$primary-font;

    #info{
        background-image: url("/docs/assets/img/about-bg.jpg");
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 554px;
        font-family: var.$primary-font;
        color: var.$white;

    h2{
        font-weight: 700;
        font-size: 50px;
    }

      div{
        font-size: 17px;
        font-weight: 400px;
        color: #E9E9ED;
      }
    }

    #about-blocks{
        display: flex;
        width: 80%;
        margin: 130px auto;

    .about-block{
        width: 20%;
        margin: 0 auto;
        height: 210px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        h6{
        font-weight: 700;
        font-size: 20px;
        }

        p{
            font-weight: 400;
            font-size: 17px;
            text-align: center;
            }
    }
    }

    #article{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 15px;
            width: 80%;
            margin: 130px auto;

           h2{
            grid-column: 1/2;
            grid-row: 1/2;
            font-size: 40px;
            font-weight: 900;
           }

           p{
            grid-column: 1/2;
            grid-row: 2/3;
            color: var.$grey;
            font-size: 17px;
            font-weight: 400;
            margin: 30px auto;
           }

          #see-all{
            grid-column: 1/2;
            grid-row: 3/4;
            width: 200px;
            height: 60px;

            &:hover{
                cursor: pointer;
            }}

           img{
            grid-column: 2/3;
            grid-row: 1/4;
            width: auto;
            height: 352px;
           }
        }

 #team{
            width: 80%;
            margin: 100px auto;
            text-align: center;

    h3{
            font-size: 50px;
            font-weight: 900;
            margin-bottom: 10px;
    }

    svg{
            text-align: center;
            width: 440px;
            height: 2px;
            margin: 0 auto;
    }

    #our-team{
            display: flex;

    .team{
            height: 480px;
            width: 30%;
            margin: 50px auto 30px;

    .name{
            font-size: 22px;
            font-weight: 700;
            margin: 25px auto;
     }

    .div{
            font-weight: 400;
            font-size: 17px;
        }
    }}
 }  

 #offer-block{
           background-image: url("/docs/assets/img/offer.jpg");
           width: 80%;
           display: grid;
           grid-template-columns: repeat(2, 1fr);
           height: 400px;
           margin: 0 auto 120px;
           justify-content: space-between;
           align-items: center;
           color: var.$white;

    p{
           text-align: center;
    }

    #offer{
           font-size: 190px;
           font-weight: 700;
    }

    .descr{
           font-size: 20px;
           font-weight: 400; 
    }

    #left-side{
    #offer-month{
          text-align: start;
          font-size: 40px;
          font-weight: 700;
          padding-bottom: 30px;
    }

        .descr{
           padding-bottom: 50px;
           text-align: start;
        }

        #get-offer{
           width: 200px;
           font-size: 18px;
        }
    }
 } 
}