<body>
        <section id="section-benefits">
           <h4>Our Benefits</h4>
           <div class="benefits-block">
            <img src="/src/assets/img/travel.png" alt="travel">
            <p>Velit nisl sodales eget donec quis. volutpat orci.</p>
           </div>
                
           <div class="benefits-block">
            <img src="/src/assets/img/track.png" alt="track">
            <p>Dolor eu varius. Morbi fermentum velit nisl.</p>
            </div>
           <div class="benefits-block">
            <img src="/src/assets/img/coins.png" alt="coins">
            <p>Malesuada fames ac ante ipsum primis in faucibus.</p>
           </div>
           <div class="benefits-block">
            <img src="/src/assets/img/education.png" alt="education">
            <p>Nisl sodales eget donec quis. volutpat orci.</p>
           </div>
        </section>

        <section id="section">
            <nav id="footer-menu">
           <ul>
                <li><a id="about-us-from-footer"><b>About Us</b></a></li>
                    <li><a href="#">Organization</a></li>
                    <li><a href="#">Partners</a></li>
                    <li><a href="#">Clients</a></li>
                  
            </ul>
            <ul>
                <li><a href="#"><b>Interesting links</b></a></li>
                <li><a href="#">Photo galery</a></li>
                <li><a href="#">Our team</a></li>
                <li><a href="#">Socials</a></li>
            </ul>
            <ul>
                <li><a href="#"><b>Achievements</b></a></li>
                <li><a href="#">Winnig Awards</a></li>
                <li><a href="#">Press</a></li>
                <li><a href="#">Our Amazing Clients</a></li>
            </ul>
            <div id="shipping">
                <h5>Shipping information</h5>
                <p>Nulla eleifend pulvinar purus, molestie euismod odio imperdiet ac. Ut sit amet erat nec nibh
                    rhoncus varius in non lorem. Donec interdum, lectus in convallis pulvinar, enim elit porta sapien,
                    vel finibus erat felis sed neque. Etiam aliquet neque sagittis erat tincidunt aliquam.
                </p>
            </div>
            </nav>
            <div id="contact-footer">
                <div>
                <a id="contact-from-footer"><b>Contact Us</b></a>
                <p>Bendum dolor eu varius. Morbi fermentum velitsodales
                    egetonec. volutpat orci. Sed ipsum felis, tristique
                    egestas et, convallis ac velitn consequat nec luctus.</p>
                </div>
                    <div id="contacts-info-footer">
                    <div class="info">
                    <svg width="24" height="24">
                      <use href="/src/assets/sprite.svg#phone"></use>
                    </svg><span>Phone: (+63) 236 6322</span>
                    </div>
                    <div class="info">
                        <svg width="24" height="24">
                         <use href="/src/assets/sprite.svg#email"></use>
                        </svg><span>public@news.com</span>
                    </div>
                    
                    <div class="info">
                        <svg width="26" height="26">
                          <use href="/src/assets/sprite.svg#watch"></use>
                        </svg>
                        <span>Sat - Sun: 10am - 6pm<br>
                          Mon - Fri: 10am - 6pm</span>
                    </div>
                    <div class="info">
                        <svg width="24" height="24">
                            <use href="/src/assets/sprite.svg#map-pin"></use>
                        </svg><span>639 Jade Valley,<br> Washington Dc</span>
                    </div>
                </div>    
            </div>
        </section>
        <div id="copyright">© Copyright 2025</div>

</body>
