
 <body> 
    <header>
    <div id="name-content">
      <div id="social-networks">
   <svg width="20" height="20">
      <use href="/project-template-ua/src/assets/sprite.svg#facebook"></use>
    </svg>

    <svg width="20" height="20">
      <use href="/project-template-ua/src/assets/sprite.svg#twitter"></use>
    </svg>

    <svg width="20" height="20">
      <use href="/project-template-ua/src/assets/sprite.svg#instagram"></use>
    </svg>
      </div>
      <div id="logo">
        <img src="/project-template-ua/src/assets/img/logo.png" alt="logo">
        </div>
        <div id="user-block">
        <svg width="30" height="33">
      <use href="/project-template-ua/src/assets/sprite.svg#user"></use>
    </svg>

    <svg width="30" height="33">
      <use href="/project-template-ua/src/assets/sprite.svg#shopping-card"></use>
    </svg>

    </div>
    </div>
    
    <div id="line">
      <svg width="1301" height="2">
        <use href="/project-template-ua/src/assets/sprite.svg#header-line"></use>
      </svg>
    </div>
    <nav id="header-menu">
        <a href="#home" data-page="home">Home</a>
        <a href="#catalog" data-page="catalog" id="catalog">Catalog</a>
        <svg width="12" height="8">
             <use href="/project-template-ua/src/assets/sprite.svg#arrow"></use>
        </svg>
        <a href="#about" data-page="about">About Us</a>
        <a href="#contact" data-page="contact">Contact Us</a>
    </nav>
    </header>
</body>
