<body>
    <div id="name-content">
      <div id="social-networks">
   <svg width="20" height="20">
      <use href="/src/assets/sprite.svg#facebook"></use>
    </svg>

    <svg width="20" height="20">
      <use href="/src/assets/sprite.svg#twitter"></use>
    </svg>

    <svg width="20" height="20">
      <use href="/src/assets/sprite.svg#instagram"></use>
    </svg>
      </div>

      <div id="logo">
        <img src="/src/assets/img/logo.png" alt="logo">
        </div>
        <div id="user-block">
        <a id="login">
        <svg width="30" height="33">
      <use href="/src/assets/sprite.svg#user"></use>
    </svg>
  </a>
     <a id="open-cart" >
      <span id="quantity-in-card" style="display: none;"></span>
    <svg width="30" height="33">
      <use href="/src/assets/sprite.svg#shopping-card"></use>
    </svg>
  </a>
    </div>
    </div>
    
    <div id="line">
      <svg width="1301" height="2">
        <use href="/src/assets/sprite.svg#header-line"></use>
      </svg>
    </div>
    <nav id="header-menu">
        <a href="#home" data-page="home" id="home-page">Home</a>
        <a href="#catalog" data-page="catalog" id="catalog">Catalog</a>
        <svg width="12" height="8">
             <use href="/src/assets/sprite.svg#arrow"></use>
        </svg>
        <a href="#about" data-page="about" id="about">About Us</a>
        <a href="#contact" data-page="contact" id="contact">Contact Us</a>
    </nav>
</body>