@import url("https://fonts.cdnfonts.com/css/montserrat");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/helvetica-neue-55");
@import url("https://fonts.cdnfonts.com/css/sf-pro-display");
header {
  width: 88%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 140px;
}
header #name-content {
  display: flex;
  justify-content: space-between;
}
header #name-content #social-networks,
header #name-content #user-block {
  display: flex;
  align-items: center;
}
header #header-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
}
header #header-menu a {
  margin: 30px;
  text-decoration: none;
  color: #000000;
}
header #header-menu #catalog {
  margin-right: 3px;
}

footer {
  display: flex;
  flex-direction: column;
}
footer #section-benefits {
  display: flex;
  flex-wrap: wrap;
  padding: 40px 140px;
  background-image: url("/project-template-ua/src/assets/img/our-benefits-bg.png");
  color: #FFFFFF;
}
footer #section-benefits h4 {
  width: 100%;
  text-align: start;
  font-family: Inter;
  font-weight: 700;
  font-size: 19px;
}
footer #section-benefits .benefits-block {
  width: 25%;
  text-align: center;
  display: flex;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
}
footer #section-benefits .benefits-block img {
  width: 60px;
  height: 60px;
}
footer #section {
  display: flex;
  justify-content: space-between;
  padding: 130px 130px 0 130px;
  font-family: "Montserrat";
  font-size: 15px;
  font-weight: 400;
  color: #000000;
}
footer #section h5 {
  font-weight: 700;
  padding: 0 0 18px 0;
  margin: 0;
}
footer #section #footer-menu {
  display: flex;
  width: 500px;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer #section #footer-menu p {
  margin: 10px 0 0 0;
}
footer #section #footer-menu #shipping {
  margin-top: 50px;
}
footer #section #contact {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer #section #contact #contacts-info {
  display: flex;
  flex-wrap: wrap;
}
footer #section #contact .info {
  width: 50%;
  padding: 3% 0;
  display: flex;
  align-items: center;
}
footer #section #contact .info span {
  display: inline-block;
  padding: 0 5%;
}
footer #copyright {
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.3490196078);
  padding-top: 110px;
}

button {
  background-color: #B92770;
  color: #FFFFFF;
  font-weight: 700;
  width: 174px;
  height: 60px;
  border: none;
}

* {
  margin: 0;
  box-sizing: border-box;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

html,
body {
  height: 100%;
  font-family: "Montserrat";
}

#about {
  font-family: "Montserrat";
}
#about #info {
  background-image: url("/project-template-ua/src/assets/img/about-bg.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 554px;
  font-family: "Montserrat";
  color: #FFFFFF;
}
#about #info h2 {
  font-weight: 700;
  font-size: 50px;
}
#about #info div {
  font-size: 17px;
  font-weight: 400px;
  color: #E9E9ED;
}
#about #about-blocks {
  display: flex;
  width: 80%;
  margin: 130px auto;
}
#about #about-blocks .about-block {
  width: 20%;
  margin: 0 auto;
  height: 210px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#about #about-blocks .about-block h6 {
  font-weight: 700;
  font-size: 20px;
}
#about #about-blocks .about-block p {
  font-weight: 400;
  font-size: 17px;
  text-align: center;
}
#about #article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 130px auto;
}
#about #article h2 {
  font-size: 40px;
  font-weight: 900;
}
#about #article p {
  color: #504E4A;
  font-size: 17px;
  font-weight: 400;
  margin: 30px auto;
}
#about #article button {
  width: 200px;
  height: 60px;
}
#about #article img {
  width: 45%;
  height: 352px;
}
#about #team {
  width: 80%;
  margin: 130px auto 170px auto;
  text-align: center;
}
#about #team h3 {
  font-size: 50px;
  font-weight: 900;
  margin-bottom: 10px;
}
#about #team svg {
  text-align: center;
  width: 440px;
  height: 2px;
  margin: 0 auto;
}
#about #team #our-team {
  display: flex;
}
#about #team #our-team .team {
  height: 480px;
  width: 30%;
  margin: 50px auto 30px auto;
}
#about #team #our-team .team .name {
  font-size: 22px;
  font-weight: 700;
  margin: 25px auto;
}
#about #team #our-team .team .div {
  font-weight: 400;
  font-size: 17px;
}

#catalog-section {
  width: 80%;
  margin: 35px auto 120px auto;
}
#catalog-section #showuing-pages {
  font-weight: 400;
  font-size: 16px;
  color: #504E4A;
}
#catalog-section #sort-block {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* Show dropdown on hover */
}
#catalog-section #sort-block #filters {
  display: flex;
  gap: 15px;
  align-items: center;
  margin: 20px;
}
#catalog-section #sort-block .filter {
  position: relative;
}
#catalog-section #sort-block .filter-btn {
  padding: 8px 12px;
  background-color: #FFFFFF;
  color: #504E4A;
  cursor: pointer;
}
#catalog-section #sort-block .dropdown {
  position: absolute;
  display: none;
  list-style: none;
  background: #FFFFFF;
  color: #504E4A;
  border: 1px solid #FFFFFF;
  margin: 0;
  padding: 5px 0;
  width: 150px;
  top: 100%;
  left: 0;
  z-index: 10;
}
#catalog-section #sort-block .dropdown li {
  padding: 5px 10px;
  cursor: pointer;
}
#catalog-section #sort-block .dropdown li:hover {
  background: #eee;
}
#catalog-section #sort-block .filter:hover .dropdown {
  display: block;
}
#catalog-section #sort-block .filter.active .filter-btn {
  background-color: #0078d7;
  color: white;
}
#catalog-section #sort-block #reset-btn {
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 40px;
  width: 88px;
}
#catalog-section #searching #searching-field {
  border: 2px solid #504E4A;
  height: 40px;
}
#catalog-section #searching #searching-field input {
  border: none;
}
#catalog-section #searching #searching-field svg {
  height: 17px;
  width: 17px;
}
#catalog-section #product-list {
  width: 80%;
  margin: 0 auto;
  display: flex;
}
#catalog-section #product-list #list {
  width: 910px;
}
#catalog-section #product-list #next-page {
  width: 88px;
  height: 40px;
  background: #FFFFFF;
  color: #000000;
  border: 2px solid #B92770;
  text-align: end;
}
#catalog-section #product-list #best-sets {
  width: 370px;
}
#catalog-section #product-list #best-sets h3 {
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 23px;
}
#catalog-section #product-list #best-sets .best-set-card {
  display: flex;
  gap: 10px;
  margin-bottom: 5px;
}
#catalog-section #product-list #best-sets .best-set-card img {
  width: 90px;
  height: 90px;
}
#catalog-section #product-list #best-sets .best-set-card .best-set-description p {
  font-size: 13px;
  font-weight: 400;
}
#catalog-section #product-list #best-sets .best-set-card .best-set-description .rating {
  margin: 7px 0;
  display: flex;
}
#catalog-section #product-list #best-sets .best-set-card .best-set-description .rating svg {
  height: 10px;
  width: 10px;
}

#contact #contact-bunner {
  background-image: url("/project-template-ua/src/assets/img/contact-bg.jpg");
  height: 554px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 130px;
}
#contact #contact-bunner h2 {
  font-size: 50px;
  font-weight: 900;
  color: #FFFFFF;
}
#contact #contact-bunner p {
  width: 288px;
  font-size: 17px;
  font-weight: 400;
  color: #E9E9ED;
}
#contact #contacts-info {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
#contact #contacts-info .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 230px;
  height: 180px;
}
#contact #contacts-info .card h6 {
  font-weight: 700;
  font-size: 20px;
}
#contact #contacts-info .card p {
  font-weight: 400;
  font-size: 16px;
}
#contact #feedback {
  width: 80%;
  margin: 130px auto 120px auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
#contact #feedback img {
  width: 100%;
}
#contact #feedback form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#contact #feedback form h4 {
  font-weight: 900;
  font-size: 25px;
}
#contact #feedback form p {
  margin: 30px 0;
  font-weight: 400;
  font-size: 17px;
}
#contact #feedback form label {
  font-weight: 700;
  font-size: 20px;
}
#contact #feedback form label .dot {
  color: #B92770;
}
#contact #feedback form input,
#contact #feedback form #message {
  display: block;
  border: 2px solid #B92770;
  margin-bottom: 30px;
}
#contact #feedback form input {
  height: 44px;
}
#contact #feedback form #formBtn {
  height: 40px;
  width: 90px;
}

#home {
  margin: 0;
}
#home #section {
  display: flex;
  align-items: center;
  background-color: #E7E8E9;
  padding: 0 10%;
  height: 860px;
}
#home #section #smart-styles h2 {
  font-size: 50px;
  font-weight: 900;
}
#home #section #smart-styles p {
  padding: 30px 0;
  font-weight: 400;
  font-size: 17px;
  color: #504E4A;
}
#home #section img {
  width: 44vw;
  height: auto;
}
#home #discont-block {
  display: flex;
  background-color: #FFFFFF;
  margin: -10% auto 0 auto;
  width: 80%;
  box-shadow: 0px 20px 80px 0px rgba(193, 199, 212, 0.7019607843);
  height: 566px;
}
#home #discont-block #article {
  width: 42%;
  margin: 90px 90px 70px 76px;
}
#home #discont-block #article #author {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
#home #discont-block #article #author img {
  width: 85px;
  height: 93px;
}
#home #discont-block #article #author #author-info {
  width: 200px;
  margin-left: 5%;
}
#home #discont-block #article #author h3 {
  font-size: 40px;
}
#home #discont-block #article #author p {
  font-weight: 400;
  font-size: 17px;
  color: #504E4A;
  line-height: 130%;
}
#home #discont-block #article #author #name {
  font-weight: 700;
  font-size: 20px;
}
#home #discont-block #photo-block {
  background-image: url(/project-template-ua/src/assets/img/hp2.png);
  background-size: cover;
  color: #FFFFFF;
  display: flex;
  width: 60%;
}
#home #discont-block #photo-block #text {
  width: 390px;
  margin: 40% auto;
}
#home #discont-block #photo-block div {
  font-size: 40px;
  font-weight: 900;
}
#home #discont-block #photo-block p {
  font-size: 17px;
  font-weight: 400;
}
#home #discont-block #photo-block button {
  width: 175px;
  height: 60px;
  font-size: 18px;
}
#home .block {
  font-family: "Montserrat";
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
#home .block h3 {
  font-size: 40px;
  font-weight: 900;
  text-align: center;
}
#home .block .discription {
  margin: 10px 0 50px 0;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
  color: #504E4A;
}
#home #travel-suitcases h3 {
  margin: 100px 0 0 0;
  color: #000000;
}
#home #travel-suitcases #goods-block {
  display: flex;
  justify-content: space-between;
  font-size: 19px;
}
#home #travel-suitcases #goods-block .cases1 {
  background-image: url("/project-template-ua/src/assets/img/hp-travel1.png");
  width: 24%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: #FFFFFF;
}
#home #travel-suitcases #goods-block .cases2 {
  background-image: url("/project-template-ua/src/assets/img/hp-travel2.png");
  width: 24%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: #FFFFFF;
}
#home #travel-suitcases #goods-block .cases3 {
  background-image: url("/project-template-ua/src/assets/img/hp-travel3.png");
  width: 24%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: #FFFFFF;
}
#home #travel-suitcases #goods-block .cases4 {
  background-image: url("/project-template-ua/src/assets/img/hp-travel4.png");
  width: 24%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: #FFFFFF;
}
#home #travel-suitcases #goods-block h6 {
  width: 170px;
  height: 51px;
  font-weight: 700;
  padding-bottom: 30px;
}
#home #travel-suitcases #goods-block p {
  width: 170px;
  font-size: 17px;
  font-weight: 400;
  padding-bottom: 60px;
}
#home #selected,
#home #new {
  margin: 110px auto 120px auto;
}
#home #selected .track,
#home #new .track {
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  display: flex;
  flex-flow: row nowrap;
}
#home #selected .track::-webkit-scrollbar,
#home #new .track::-webkit-scrollbar {
  background: transparent;
}
#home #selected .product,
#home #new .product {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex: 1 0 24%;
  font-weight: 700;
  font-size: 19px;
  font-family: "Montserrat";
  aspect-ratio: 1;
  scroll-snap-align: center;
  margin: 0 12px;
  height: 570px;
  width: 24%;
}
#home #selected .product img,
#home #new .product img {
  width: 100%;
  height: 400px;
  margin: 25px auto;
}
#home #selected .product h6,
#home #new .product h6 {
  width: 180px;
  text-align: center;
}
#home #selected .product .price,
#home #new .product .price {
  color: #504E4A;
  text-align: center;
}
#home #selected .product button,
#home #new .product button {
  width: 150px;
  height: 40px;
  font-family: "SF Pro Display", sans-serif;
}
#home #selected .carousel,
#home #new .carousel {
  position: relative;
  display: flex;
  margin: 25px auto;
}
#home #selected .arrowButton,
#home #new .arrowButton {
  position: relative;
  transform: translateY(-100%);
  background-color: white;
  border: none;
  padding: 0;
  cursor: pointer;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-min-content;
  height: min-content;
  opacity: 1;
  transition: opacity 0.1s;
}
#home #selected .arrowButton svg,
#home #new .arrowButton svg {
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 20px;
  fill: #333;
}
#home #selected .arrowButton:focus,
#home #selected .arrowButton:hover,
#home #new .arrowButton:focus,
#home #new .arrowButton:hover {
  opacity: 1;
}
#home #selected .prev,
#home #new .prev {
  z-index: 2;
  left: 0;
}
#home #selected .next,
#home #new .next {
  right: 0;
}
#home #offer-block {
  width: 80%;
  margin: 0 auto;
  height: 400px;
  display: flex;
  background-image: url("/project-template-ua/src/assets/img/offer.jpg");
  background-size: cover;
  justify-content: space-around;
  align-items: center;
  font-family: "Montserrat";
  color: #FFFFFF;
}
#home #offer-block div {
  width: 40%;
}
#home #offer-block p {
  display: block;
}
#home #offer-block #offer {
  font-size: 220px;
  font-weight: 900;
}
#home #offer-block #left-side {
  display: flex;
  flex-direction: column;
  gap: 41px;
  width: 35%;
}
#home #offer-block #offer-month {
  font-size: 40px;
  font-weight: 900;
}
#home #offer-block .descr {
  font-size: 18px;
  font-weight: 400;
}
#home #offer-block button {
  width: 200px;
  height: 60px;
}
#home #castomers-reviw #customers {
  display: flex;
  margin: 60px auto 120px auto;
  text-align: center;
  gap: 20px;
}
#home #castomers-reviw #customers .customer-block {
  display: grid;
  justify-items: center;
  align-content: center;
  gap: 24px;
  height: 440px;
  margin: 40px auto;
  border: 1px solid #FFFFFF;
  box-shadow: 0px 20px 80px 0px rgba(193, 199, 212, 0.7019607843);
  font-size: 17px;
}
#home #castomers-reviw #customers .customer-block img {
  width: 98px;
  height: 98px;
}
#home #castomers-reviw #customers .customer-block .review {
  font-weight: 400;
}
#home #castomers-reviw #customers .customer-block .customer-name {
  color: #B92770;
  font-weight: 700;
}/*# sourceMappingURL=main.css.map */