/* Error: There is no module with the namespace "var".
 *   ,
 * 5 |          border: 2px solid var.$pink;
 *   |                            ^^^^^^^^^
 *   '
 *   src\scss\components\_forms.scss 5:28  @use
 *   src\scss\pages\_contact.scss 2:1      @use
 *   src\scss\main.scss 10:1               root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: There is no module with the namespace "var".\a   \2577 \a 5 \2502           border: 2px solid var.$pink;\d\a   \2502                             ^^^^^^^^^\a   \2575 \a   src\\scss\\components\\_forms.scss 5:28  @use\a   src\\scss\\pages\\_contact.scss 2:1      @use\a   src\\scss\\main.scss 10:1               root stylesheet';
}
